@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

.navbar{
    background-color: slategray;
}

.card{
    text-align: center;
}

.portrait{
    border-radius:50%;
}

.sq-portrait{
    border-radius:1%;
    border: 5px solid slategray;
}

.mb-3-aboutme{

}



.g-5-aboutme{
    padding-top: 30px;
}

.p-4-aboutme{
    width:30px;
}
