@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

.navbar{
    background-color: slategray;
}

.card{
    text-align: center;
}

.portrait{
    border-radius:50%;
}

.mb-3-aboutme{
    background-color:#708090;
}

.g-5-aboutme{
    padding-top: 30px;
}
